<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    {{> "systems/dgyze/templates/item/parts/item-header.hbs"}}
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs slanted-tabs flexrow flex-center" data-group="primary">
        <a class="item" data-tab="bond">{{localize "DGYZE.ItemSheet.BondTab"}}</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Bond Tab --}}
        <div class="tab tab-bond" data-group="primary" data-tab="bond">
            <div class="grid grid-4col item-weapon">
                <div class="flexcol">
                    <label>{{localize "DGYZE.ItemSheet.BondDamaged"}}</label>
                    <input type="checkbox" name="system.damaged" {{checked system.damaged}}/>
                </div>
                <div class="flexcol">
                    <label>{{localize "DGYZE.ItemSheet.Relationship"}}</label>
                    <input type="text" name="system.relationship" value="{{system.relationship}}"/>
                </div>
                <div class="flexcol">
                    <label>{{localize "DGYZE.ItemSheet.Score"}}</label>
                    <input type="number" name="system.score" value="{{system.score}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="item-description item-motivation">
                <div class="flexcol">
                    <h2>{{localize "DGYZE.ItemSheet.Description"}}</h2>
                    {{> "systems/dgyze/templates/item/parts/item-description.hbs"}}
                </div>
            </div>
        </div>
    </section>
</form>
