<div class='dgyze chat-card damage character'>
  <div class='card-content'>
    {{#if (gt amount 0)}}
      <p>
        {{{localize 'DGYZE.Chat.Damage.DamageDealt' name=name amount=amount}}}
        {{#if incapacited}}
          <br /><span style='color: #9b2423; font-weight: bold;'>{{{@root.config.Icons.buttons.lethal}}}&nbsp;{{localize
              'DGYZE.Chat.Damage.Incapacited'
            }}</span>
        {{/if}}
      </p>
    {{else}}
      <p>{{{localize 'DGYZE.Chat.Damage.NoDamageDealt' name=name}}}</p>
    {{/if}}
    {{#if armors.length}}
      <hr />
      <p style='line-height: 1;'><small>
          {{{localize 'DGYZE.Chat.Damage.InitialAmount' damage=initialAmount mod=signedArmorModifier}}}
          {{#each armors}}
            <br />
            <span><strong>{{label}}:</strong></span>&nbsp;
            {{#if damage}}
              {{#if penetrated}}
                <span>{{localize 'DGYZE.Chat.Damage.DeflectedDamage' damage=damage}}</span>
              {{else}}
                <span>{{localize 'DGYZE.Chat.Damage.DeflectedAllDamage'}}</span>
              {{/if}}
            {{else if penetrated}}
              <span><i>{{localize 'DGYZE.Chat.Damage.NoEffect'}}</i></span>
            {{else}}
              <span><i>–</i></span>
            {{/if}}
            {{#if damaged}}<span>&nbsp;—&nbsp;<i>{{localize 'DGYZE.Chat.Damage.DamagedArmor'}}</i></span>{{/if}}
          {{/each}}
        </small></p>
    {{/if}}
  </div>
</div>