<div class='roll-modifiers flexcol'>

  <div class='roll-modifiers-title flexrow'>
    <h4>{{localize 'DGYZE.ItemSheet.RollModifiers'}}</h4>
    <a class='button add-modifier flex0' title='{{localize "DGYZE.ItemSheet.AddRollModifier"}}'>
      {{{@root.config.Icons.buttons.plus}}}
    </a>
  </div>

  {{#each system.rollModifiers as |modifier|}}
    <div class='roll-modifier'>
      <div class='roll-modifier-name'>
        <select name='system.rollModifiers.{{@key}}.name'>
          {{#select modifier.name}}
            <option value='' disabled selected>{{localize 'DGYZE.ItemSheet.SelectRollModifier'}}</option>
            <optgroup label='{{localize "DGYZE.Attributes"}}'>
              <option value='attribute.str'>{{localize 'DGYZE.AttributeNames.str'}}</option>
              <option value='attribute.agl'>{{localize 'DGYZE.AttributeNames.agl'}}</option>
              <option value='attribute.int'>{{localize 'DGYZE.AttributeNames.int'}}</option>
              <option value='attribute.emp'>{{localize 'DGYZE.AttributeNames.emp'}}</option>
            </optgroup>
            <optgroup label='{{localize "DGYZE.Skills"}}'>
              <option value='skill.heavyWeapons'>{{localize 'DGYZE.SkillNames.heavyWeapons'}}</option>
              <option value='skill.closeCombat'>{{localize 'DGYZE.SkillNames.closeCombat'}}</option>
              <option value='skill.stamina'>{{localize 'DGYZE.SkillNames.stamina'}}</option>
              <option value='skill.driving'>{{localize 'DGYZE.SkillNames.driving'}}</option>
              <option value='skill.mobility'>{{localize 'DGYZE.SkillNames.mobility'}}</option>
              <option value='skill.rangedCombat'>{{localize 'DGYZE.SkillNames.rangedCombat'}}</option>
              <option value='skill.recon'>{{localize 'DGYZE.SkillNames.recon'}}</option>
              <option value='skill.survival'>{{localize 'DGYZE.SkillNames.survival'}}</option>
              <option value='skill.tech'>{{localize 'DGYZE.SkillNames.tech'}}</option>
              <option value='skill.command'>{{localize 'DGYZE.SkillNames.command'}}</option>
              <option value='skill.persuasion'>{{localize 'DGYZE.SkillNames.persuasion'}}</option>
              <option value='skill.medicalAid'>{{localize 'DGYZE.SkillNames.medicalAid'}}</option>
            </optgroup>
            <optgroup label='{{localize "DGYZE.Constants"}}'>
              <option value='constant.cuf'>{{localize 'DGYZE.ConstantNames.cuf'}}</option>
              <option value='constant.awareness'>{{localize 'DGYZE.ConstantNames.awareness'}}</option>
              <option value='constant.encumbrance'>{{localize 'DGYZE.ConstantNames.encumbrance'}}</option>
            </optgroup>
            <optgroup label='{{localize "DGYZE.Actions"}}'>
              <option value='action.aim'>{{localize 'DGYZE.ActionNames.aim'}}</option>
              <option value='action.aimMortar'>{{localize 'DGYZE.ActionNames.aimMortar'}}</option>
              <option value='action.aimSniper'>{{localize 'DGYZE.ActionNames.aimSniper'}}</option>
              <option value='action.overwatch'>{{localize 'DGYZE.ActionNames.overwatch'}}</option>
              <option value='action.breakFree'>{{localize 'DGYZE.ActionNames.breakFree'}}</option>
              <option value='action.clearJam'>{{localize 'DGYZE.ActionNames.clearJam'}}</option>
              <option value='action.crawl'>{{localize 'DGYZE.ActionNames.crawl'}}</option>
              <option value='action.directFire'>{{localize 'DGYZE.ActionNames.directFire'}}</option>
              <option value='action.disarm'>{{localize 'DGYZE.ActionNames.disarm'}}</option>
              <option value='action.drive'>{{localize 'DGYZE.ActionNames.drive'}}</option>
              <option value='action.firstAid'>{{localize 'DGYZE.ActionNames.firstAid'}}</option>
              <option value='action.grapple'>{{localize 'DGYZE.ActionNames.grapple'}}</option>
              <option value='action.meleeAttack'>{{localize 'DGYZE.ActionNames.meleeAttack'}}</option>
              <option value='action.prepareBow'>{{localize 'DGYZE.ActionNames.prepareBow'}}</option>
              <option value='action.rally'>{{localize 'DGYZE.ActionNames.rally'}}</option>
              <option value='action.reload'>{{localize 'DGYZE.ActionNames.reload'}}</option>
              <option value='action.retreat'>{{localize 'DGYZE.ActionNames.retreat'}}</option>
              <option value='action.run'>{{localize 'DGYZE.ActionNames.run'}}</option>
              <option value='action.seekCover'>{{localize 'DGYZE.ActionNames.seekCover'}}</option>
              <option value='action.shootBow'>{{localize 'DGYZE.ActionNames.shootBow'}}</option>
              <option value='action.shootFirearm'>{{localize 'DGYZE.ActionNames.shootFirearm'}}</option>
              <option value='action.shootHeavyWeapon'>{{localize 'DGYZE.ActionNames.shootHeavyWeapon'}}</option>
              <option value='action.shove'>{{localize 'DGYZE.ActionNames.shove'}}</option>
              <option value='action.throwWeapon'>{{localize 'DGYZE.ActionNames.throwWeapon'}}</option>
              <option value='action.unarmedAttack'>{{localize 'DGYZE.ActionNames.unarmedAttack'}}</option>
            </optgroup>
            <optgroup label='{{localize "DGYZE.TravelTasks"}}'>
              <option value='travel.cooking'>{{localize 'DGYZE.TravelTaskNames.cooking'}}</option>
              <option value='travel.driving'>{{localize 'DGYZE.TravelTaskNames.driving'}}</option>
              <option value='travel.exploring'>{{localize 'DGYZE.TravelTaskNames.exploring'}}</option>
              <option value='travel.fishing'>{{localize 'DGYZE.TravelTaskNames.fishing'}}</option>
              <option value='travel.foraging'>{{localize 'DGYZE.TravelTaskNames.foraging'}}</option>
              <option value='travel.gathering'>{{localize 'DGYZE.TravelTaskNames.gathering'}}</option>
              <option value='travel.hunting'>{{localize 'DGYZE.TravelTaskNames.hunting'}}</option>
              <option value='travel.keepingWatch'>{{localize 'DGYZE.TravelTaskNames.keepingWatch'}}</option>
              <option value='travel.makingCamp'>{{localize 'DGYZE.TravelTaskNames.makingCamp'}}</option>
              <option value='travel.marching'>{{localize 'DGYZE.TravelTaskNames.marching'}}</option>
              <option value='travel.resting'>{{localize 'DGYZE.TravelTaskNames.resting'}}</option>
              <option value='travel.scrounging'>{{localize 'DGYZE.TravelTaskNames.scrounging'}}</option>
              <option value='travel.sleeping'>{{localize 'DGYZE.TravelTaskNames.sleeping'}}</option>
            </optgroup>
          {{/select}}
        </select>
      </div>
      <div class='roll-modifier-value flexrow'>
        <input type='text' name='system.rollModifiers.{{@key}}.value' value='{{modifier.value}}' />
        <div class='item-controls'>
          <a class='btn btn-small delete-modifier' data-modifier-id='{{@key}}'>
            {{{@root.config.Icons.buttons.delete}}}
          </a>
        </div>
      </div>
    </div>
  {{else}}
    <div class='no-modifier'>{{localize 'DGYZE.ItemSheet.NoRollModifier'}}</div>
  {{/each}}

  {{! TODO clean this code }}
  {{!-- <h4>{{localize "DGYZE.Attributes"}}</h4>
  <div class="modifiers-list flexrow">
    {{#each system.modifiers.attributes as |value name|}}
    <div class="form-group col-6 {{#if value}}modified{{/if}}">
      <label>{{localize (concat "DGYZE.AttributeNames." name)}}</label>
      <input type="text" name="system.modifiers.attributes.{{name}}" value="{{numberFormat value sign=value}}" data-dtype="Number"/>
    </div>
    {{/each}}
  </div>
  <h4>{{localize "DGYZE.Skills"}}</h4>
  <div class="modifiers-list flexrow">
    {{#each system.modifiers.skills as |value name|}}
    <div class="form-group col-6 {{#if value}}modified{{/if}}">
      <label>{{localize (concat "DGYZE.SkillNames." name)}}</label>
      <input type="text" name="system.modifiers.skills.{{name}}" value="{{numberFormat value sign=value}}" data-dtype="Number"/>
    </div>
    {{/each}}
  </div> --}}
</div>