<form class="dgyze dialog damage-choice-dialog">

  {{!-- INPUT VARIABLES (IN DATA):
        damage: number
        hitCount: number
        barrier: number
        location: string
        target: string
        isGM: boolean

        OUTPUT VARIABLES:
        damage: number
        hitCount: number
        barriers: string<number>[]
  --}}

  {{#with data}}

  {{!-- ================================================== --}}

  <p>
    {{{localize "DGYZE.Dialog.Damage.Description" target=target}}}
    {{#if location}}
    <br/>{{localize "YZUR.CHAT.ROLL.HitLocation"}}&nbsp;<b>{{localize (concat "DGYZE.ArmorLocationNames." location)}}</b>
    {{/if}}
  </p>


  {{!-- BASE DAMAGE --}}
  <div class="form-group">
    <label>{{localize "DGYZE.Dialog.Damage.DamageQuantity"}}</label>
    <input type="number" name="damage" value="{{damage}}"{{#unless isGM}} disabled{{/unless}}/>
  </div>

  {{!-- ================================================== --}}

  {{!-- EXTRA HITS --}}
  {{#if hitCount}}
  <div class="form-group">
    <label>{{localize "DGYZE.Dialog.Damage.ExtraHits"}}&nbsp;
      {{#times hitCount}}
      <img src="systems/dgyze/assets/icons/bullet2.svg" height="24px"/>
      {{/times}}
    </label>
    <div class="flexrow">{{rangePicker name="hits" value=0 min=0 max=hitCount step=1}}</div>
  </div>
  {{/if}}

  {{!-- ================================================== --}}

  {{!-- BARRIER --}}
  {{#if barrier}}
  <div class="form-group">
    <label style="line-height: 1;">
      {{localize "DGYZE.Dialog.Damage.BarrierArmors"}}
      <br/><small>{{localize "DGYZE.Dialog.Damage.BarrierArmorsHint"}}</small>
    </label>
    <input type="text" name="barriers" value="{{barrier}}"/>
  </div>
  {{/if}}

  {{/with}}

</form>