<div class="caargoo">
  <div class="cargo-capacity flexrow flex-right">
    <label>{{localize "DGYZE.VehicleSheet.CargoCapacity"}}</label>
    <input type="number" class="boxed-value" name="system.cargo" value="{{system.cargo}}" data-dtype="Number"/>
  </div>
  {{!-- <div class="cargo-capacity flexrow flex-right">
    <label>{{localize "DGYZE.VehicleSheet.CrewCargo"}}</label>
    <div class="boxed-value">&minus;{{multiply system.crew.driver 25}}</div>
  </div> --}}
</div>

<div class="inventory">

  {{!-- Weapons & Grenades --}}
  <div class="inventory-weapons">
    <div class="items-header flexrow">
      <div class="item-name">
        <h2>{{localize "DGYZE.ActorSheet.Weapons"}}</h2>
      </div>
      <div class="item-detail item-rof">
        <h5>{{localize "DGYZE.ItemSheet.RoF"}}</h5>
      </div>
      <div class="item-detail item-damage">
        <h5>{{localize "DGYZE.ItemSheet.Damage"}}</h5>
      </div>
      <div class="item-detail item-crit">
        <h5>{{localize "DGYZE.ItemSheet.Crit"}}</h5>
      </div>
      <div class="item-detail item-armor">
        <h5>{{localize "DGYZE.ItemSheet.Armor"}}</h5>
      </div>
      <div class="item-detail item-range">
        <h5>{{localize "DGYZE.ItemSheet.Range"}}</h5>
      </div>
      <div class="item-detail item-mag">
        <h5>{{localize "DGYZE.ItemSheet.Mag"}}</h5>
      </div>
      <div class="item-detail item-reliability">
        <h5>{{localize "DGYZE.ItemSheet.Reliability"}}</h5>
      </div>
      <div class="item-detail item-blast">
        <h5>{{localize "DGYZE.ItemSheet.Blast"}}</h5>
      </div>
      <div class="item-detail item-weight">
        <h5>{{localize "DGYZE.ItemSheet.Weight"}}</h5>
      </div>
      <div class="item-controls">
        <a class="button item-create" data-type="weapon" title="{{localize "DGYZE.ActorSheet.AddWeapon"}}">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="item-list">
      {{#each actor.itemTypes.weapon}}
      {{> "systems/dgyze/templates/actor/parts/slots/weapon-slot.hbs" this}}
      {{else}}
      <div class="item">–</div>
      {{/each}}
      {{#each actor.itemTypes.grenade}}
      {{> "systems/dgyze/templates/actor/parts/slots/weapon-slot.hbs" this}}
      {{/each}}
    </div>
  </div>

  {{!-- Armor --}}
  <div class="inventory-armor">
    <div class="items-header flexrow">
      <div class="item-name">
        <h2>{{localize "DGYZE.ItemTypes.armor"}}</h2>
      </div>
      <div class="item-detail item-cover">
        <h5>{{localize "DGYZE.ActorSheet.Cover"}}</h5>
      </div>
      <div class="item-detail item-rating">
        <h5>{{localize "DGYZE.ActorSheet.Rating"}}</h5>
      </div>
      <div class="item-detail item-weight">
        <h5>{{localize "DGYZE.ItemSheet.Weight"}}</h5>
      </div>
      <div class="item-controls">
        <a class="button item-create" data-type="armor" title="{{localize "DGYZE.ActorSheet.AddArmor"}}">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="item-list">
      {{#each actor.itemTypes.armor}}
      {{> "systems/dgyze/templates/actor/parts/slots/armor-slot.hbs" this}}
      {{else}}
      <div class="item">–</div>
      {{/each}}
    </div>
  </div>

  {{!-- Gear --}}
  <div class="inventory-gear">
    <div class="items-header flexrow">
      <div class="item-name">
        <h2>{{localize "DGYZE.ItemTypes.gear"}}</h2>
      </div>
      {{!-- <div class="item-detail item-quantity">
        <h5>{{localize "DGYZE.ItemSheet.Quantity"}}</h5>
      </div> --}}
      <div class="item-detail item-weight">
        <h5>{{localize "DGYZE.ItemSheet.Weight"}}</h5>
      </div>
      <div class="item-controls">
        <a class="button item-create" data-type="gear" title="{{localize "DGYZE.ActorSheet.AddGear"}}">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="item-list">
      {{#each actor.itemTypes.gear}}
      {{> "systems/dgyze/templates/actor/parts/slots/gear-slot.hbs" this}}
      {{else}}
      <div class="item">–</div>
      {{/each}}
    </div>
  </div>

  {{!-- Ammunitions --}}
  <div class="inventory-ammo">
    <div class="items-header flexrow">
      <div class="item-name">
        <h2>{{localize "DGYZE.ItemTypes.ammunition"}}</h2>
      </div>
      {{!-- <div class="item-detail item-quantity">
        <h5>{{localize "DGYZE.ItemSheet.Quantity"}}</h5>
      </div> --}}
      <div class="item-detail item-weight">
        <h5>{{localize "DGYZE.ItemSheet.Weight"}}</h5>
      </div>
      <div class="item-controls">
        <a class="button item-create" data-type="ammunition" title="{{localize "DGYZE.ActorSheet.AddAmmo"}}">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="item-list">
      {{#each actor.itemTypes.ammunition}}
      {{> "systems/dgyze/templates/actor/parts/slots/ammo-slot.hbs" this}}
      {{else}}
      <div class="item">–</div>
      {{/each}}
    </div>
  </div>

</div>

{{!-- ENCUMBRANCE --}}
{{#with system.encumbrance}}
{{!-- <div class="encumbrance{{#if encumbered}} encumbered{{/if}}" title="{{localize 'DGYZE.ActorSheet.VehicleEncumbrance'}}">
  <progress class="encumbrance-gauge" value="{{value}}" max="{{max}}">{{pct}}%</progress>
</div> --}}
<div class="encumbrance{{#if encumbered}} encumbered{{/if}}" title="{{localize 'DGYZE.VehicleSheet.VehicleEncumbrance'}}">
  <span class="encumbrance-bar" style="width: {{pct}}%;"></span>
  <span class="encumbrance-label">
    {{#if (eq value max)}}
    {{localize "DGYZE.ActorSheet.EncumbranceFull"}}&nbsp;—&nbsp;
    {{/if}}
    {{#if encumbered}}
    {{localize "DGYZE.ActorSheet.EncumbranceTooHeavy"}}&nbsp;—&nbsp;
    {{/if}}
    {{value}}&nbsp;/&nbsp;{{max}}
  </span>
  {{!-- {{#times max}}
  {{#if (lte @index (add @max -1))}}
  <i class="encumbrance-breakpoint arrow-down" style="left: {{ratio @index @max}}%"></i>
  <i class="encumbrance-breakpoint arrow-up" style="left: {{ratio @index @max}}%"></i>
  {{/if}}
  {{/times}} --}}
</div>
{{/with}}
